.card {
    width:30%;
    height: auto;
    color: white;
    box-shadow: 5px 10px 8px #888888;
    margin: 1%;
    padding: 5%;
    float: left;
    /* text-align: center; */
}

.card-wide {
    width:94%;
}

.avatar {
    width:50px;
    float: right;
}

.container-fluid {
    padding: 1% 15% 1% 15%;
}
