.card {
    width:30%;
    height: auto;
    color: white;
    box-shadow: 5px 10px 8px #888888;
    margin: 1%;
    padding: 5%;
    float: left;
}

.card-wide {
    width:94%;
}

.avatar {
    width:50px;
    float: right;
    border-radius: 50%;
}

.container-fluid {
    padding: 1% 10% 1% 10%;
}

.navbar-brand {
    padding-left: 2%;
}
